.nav li a{
	font-size:20px;
}
#main-menu{
	border-bottom:1px solid #eeeeee;
}
#meet-team .social-icons, .team-info{
	text-align:center;
	margin-bottom:20px;
}
#cta{
	text-align:center;
	font-family:tw-cent;
	background-color:#ffffff;
}
.dream-born{
	text-align:center;
}

.dream-born-circle{
	content: "";
    position: absolute;
    width: 20px;
    height: 20px;
    top: 50%;
    margin-top: -10px;
    right: -10px;
    border: 4px solid #fff;
    border-radius: 20px;
    background: #C00000;
}
.circle-team-img{
	border: 3px solid #fff;
    border-radius: 172px;
    height: 150px;
    width: 150px;
    MARGIN-BOTTOM: 30px;
	margin:auto;
}
#meet-team .team-member{
	padding:0px;
	border:0;
	background-color:#fff;
}



.circle-team-img.t1{
	background-image: url("../images/team/t1.jpg");
	background-size: 100%;
    background-repeat: no-repeat;
}
.circle-team-img.t2{
	background-image: url("../images/team/t2.jpg");
	background-size: 100%;
    background-repeat: no-repeat;
}
.circle-team-img.t3{
	background-image: url("../images/team/t3.jpg");
	background-size: 100%;
    background-repeat: no-repeat;
}
.circle-team-img.t4{
	background-image: url("../images/team/t4.jpg");
	background-size: 100%;
    background-repeat: no-repeat;
}
.circle-team-img.t5{
	background-image: url("../images/team/t5.jpg");
	background-size: 100%;
    background-repeat: no-repeat;
}
.circle-team-img.t6{
	background-image: url("../images/team/t6.jpg");
	background-size: 100%;
    background-repeat: no-repeat;
}

#blog .blog-post.blog-media .entry-thumbnail{
	margin:0px;
}
.circle-team-img.tuli{
	background-image: url("../images/team/a1.jpg");
	background-size: 100%;
	background-repeat: no-repeat;
}
.circle-team-img.a2{
	background-image: url("../images/team/a2.jpg");
	background-size: 100%;
	background-repeat: no-repeat;
}
.circle-team-img.a3{
	background-image: url("../images/team/a3.jpg");
	background-size: 100%;
	background-repeat: no-repeat;
}
.circle-team-img.a4{
	background-image: url("../images/team/a4.jpg");
	background-size: 100%;
	background-repeat: no-repeat;
}
.circle-team-img.a5{
	background-image: url("../images/team/a5.jpg");
	background-size: 100%;
	background-repeat: no-repeat;
}
.circle-team-img.a6{
	background-image: url("../images/team/a6.jpg");
	background-size: 100%;
	background-repeat: no-repeat;
}
.circle-team-img.a7{
	background-image: url("../images/team/a7.jpg");
	background-size: 100%;
	background-repeat: no-repeat;
}
.circle-team-img.a8{
	background-image: url("../images/team/a8.jpg");
	background-size: 100%;
	background-repeat: no-repeat;
}
.circle-team-img.a9{
	background-image: url("../images/team/a9.jpg");
	background-size: 100%;
	background-repeat: no-repeat;
}













